* {
    box-sizing: border-box;
    /* tells the browser to account for any border and padding in the values that we specify for an element's
    width and height */
    margin: 0;
    padding: 0;
    outline: 0;
  }

html, body {
    font-size: 17px;
    font-weight: 400;
    background-color: rgb(0, 0, 0);
    color: white;
}

.width-33 {
	width: 33%;
	float: left;
}
.width-66 {
    width: 66%;
    float: left;
}

.container {
    width: 1100px;
    margin: 0px auto;
    display: table;
}

.main-panel {
	width: 100%;
	float: left;
	padding-top: 20px;
	padding-bottom: 50px;
	height: 15vh;
}


.logo {
	font-size: 40px;
	font-weight: 600;
}

.span-col {
	color: #7fabe4;
}

nav {
	float: right;
}

nav a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	color: white;
}

nav a:hover {
	color: #7fabe4;
}

/*****Main BANNER*****/
.width-50 {
	float: left;
	width: 50%;
}
.banner-section {
	width: 100%;
	float: left;
	margin-top: 25vh;
    margin-bottom: 50vh;
}
.banner-section h1 {
	font-size: 48px;
	margin-top: 10px;
	font-weight: bolder;
}
.banner-section h2 {
	font-size: 20px;
	line-height: 25px;
	margin-top: 10px;
	font-weight: 400;
}
.banner-section a {
	float: left;
	text-decoration: none;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 50%;
	text-align: center;
	border: 2px solid #7fabe4;
	color: #7fabe4;
	margin-left: 10px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}
/*****Main BANNER IMAGE*****/
.main-panel img {
	margin-top: 10%;
	width: 100%;
	margin-left: 10%;
	
}


/*ABOUT US SECTION*/
.main-section {
    background-color: rgb(0, 0, 0);
	width: 100%;
	float: left;
	padding: 320px 0px 320px 0px;
}
.bg-lightgrey {
	background-color: #1a1a1a;
}

.width-100 {
	width: 100%;
	float: left;
}
.mt-20 {
	margin-top: 20px;
}
.heading-text {
	width: 100%;
	float: left;
	font-size: 35px;
	text-align: center;
	margin-bottom: 50px;
	color: #7fabe4;
}
.about-img {
	width: 100%;
	padding: 0px 50px;
	margin-top: 20px;
}
.about-us {
	width: 100%;
	float: left;
	padding: 20px;
}
.about-us p {
	font-size: 20px;
	margin-top: 15px;
	line-height: 27px;
}

/*****SKILL SECTION*****/
.skill {
	margin-top: 30px;
	font-size: 17px;
}

.skill span {
	float: right;
}

.skill div {
	width: 100%;
	float: left;
	margin-top: 5px;
	background: #e7e7e7;
	border-radius: 10px;
}

.skill div span {
	background: #7fabe4;
	height: 5px;
	float: left;
}

div[role="progressbar"] {
	color: #7fabe4;
	margin-left: 100px;
	margin-bottom: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	place-items: center;
	display: grid;
	--pgPercentage: var(--value);
	background: radial-gradient(closest-side, black 80%, transparent 0 99.9%, black 0),
		conic-gradient(#7fabe4 calc(var(--pgPercentage) * 1%), #cbdbf0 0);

}


/*SERVICE SECTION*/
.service-list {
	padding: 40px;
	margin-top: 35px;
	background: #262626;
	border-radius: 15px;
	width: 94%;
	float: left;
}

.service-list i {
	font-size: 50px;
	color: #7fabe4;
	width: 70px;
	float: left;
}

.service-list h3 {
	font-size: 28px;
	margin-top: 8px;
	margin-bottom: 15px;
}

.service-list p {
	font-size: 15px;
	line-height: 25px;
}


/*CONTACT US SECTION*/
.contact form {
	width: 66%;
	margin: 0px auto;
}
.contact input,
textarea {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	border: 1px solid #a1a1a1;
}
.contact textarea {
	height: 80px;
}
.contact button {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	background: #7fabe4;
	color: #fff;
	border: none;
	font-size: 16px;
}

.contact button:hover {
    background: #387fdb; /* Change the background color to orange on hover */
    cursor: pointer; /* Change the cursor to a pointer on hover (optional) */
}

.contact h3 {
	font-size: 26px;
	text-align: center;
	margin-top: 60px;
	color: #7fabe4;
}
.contact h4 {
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}
.contact p {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

/*****FOOTER SECTION*****/
.footer {
	background-color: #000000;
	padding: 30px 0px 40px 0px;
	width: 100%;
	float: left;
}
.footer-sect {
	color: #b3b3b3;
}
.footer-sect a {
	color: #b3b3b3;
	margin-left: 10px;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
}
.social-icon a i {
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	line-height: 50px;
	font-size: 20px;
	border-radius: 50%;
}